@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Cores utilizadas no código */
    --white-color: #ffffff;
    --gray-color: #cccccc;
    --dark-gray-color: #333;
    --dark-green: #017143;
    --timeline-line: #0b7b5d;
    --bg-yellow: #F6D155;
    --black-color: #000000;
    --verde-escuro: #0c5738e2;
    --medium-gray-color: #b3b3b3;
    --secondary-color: #ff5733;
    --marrom-queimado: #4e3023;
    /* Tamanhos de fonte */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Espessuras da fonte */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Raio da borda */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Largura máxima do site */
    --site-max-width: 1300px;
}
.footer-section {
  background-color: var(--dark-green); /* Cor de fundo do rodapé */
  color: var(--white-color); /* Cor do texto */
  padding: 20px 0; /* Espaçamento superior e inferior */
  font-size: var(--font-size-s); /* Define o tamanho do texto */
  height: 80px;
  margin-bottom: 0;
}

.footer-section .section-content {
  max-width: var(--site-max-width); /* Define largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
  display: flex; /* Define o layout flex */
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center; /* Alinha os itens verticalmente */
}

.footer-section p {
  margin: 5px 0; /* Espaçamento entre os parágrafos */
}
