*{
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Cores, tamanhos de fonte, espessuras da fonte, bordas e largura máxima conforme especificado */
    --white-color: #ffffff;
    --gray-color: #cccccc;
    --dark-gray-color: #333;
    --dark-green: #017143;
    --timeline-line: #0b7b5d;
    --bg-yellow: #F6D155;
    --black-color: #000000;
    --verde-escuro: #0c5738e2;
    --cream-white: #f3f2db;
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    --site-max-width: 1300px;
}/* Bloco de cor para a seção de fundo verde */
.colour-block {
    background: var(--dark-green); /* Define o fundo para verde escuro */
    width: 100%; /* Define a largura como 100% do contêiner */
    padding: 7% 20% 10% 20%; /* Define o espaçamento interno (topo, direita, inferior, esquerda) */
    color: #fff; /* Define a cor do texto como branco */
}

/* Bloco de cor para a seção de fundo branco */
.white-block {
    background: #fff; /* Define o fundo como branco */
    width: 100%; /* Define a largura como 60% do contêiner */
    padding: 7% 20% 10% 20%; /* Define o espaçamento interno */
    color: var(--dark-green); /* Define a cor do texto como verde escuro */
}

/* Estilização do título */
h1 {
    text-align: center; /* Centraliza o texto */
    font-size: 80px; /* Define o tamanho da fonte */
    font-family: 'wire one', serif; /* Aplica a fonte especificada */
    font-weight: var(--font-weight-semibold); /* Define o peso da fonte */

}

/* Estilização do parágrafo */
p {
    margin-top: 15px;
    font-size: 20px; /* Define o tamanho da fonte */
   
}

/* Efeito de inclinação no sentido horário */
.skew-cc {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(
        to right bottom, 
        var(--dark-green) 49%, /* Verde escuro até 49% */
        #fff 50% /* Branco a partir de 50% */
    ), 
    linear-gradient(
        -50deg, 
        #ffffff 16px, 
        #000 0 /* Adiciona borda preta na transição */
    );
}

/* Efeito de inclinação no sentido anti-horário */
.skew-c {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(
        to left bottom, 
        #fff 49%, /* Branco até 49% */
        var(--dark-green) 50% /* Verde escuro a partir de 50% */
    );
}
