/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --verde-escuro: #133309;
    --verde-profundo: #1A450C;
    --verde-oliva: #286812;
    --marrom-profundo: #18110C;
    --marrom-queimado: #281912;
    --marrom-terra-escuro: #443022;
    --preto-escuro: #070806;
    --verde-cinza-escuro: #1F231A;
    --azul-acinzentado-escuro: #0F151A;
    --verde-médio: #3C7312;
    --azul-acinzentado: #47627B;
    --azul-petróleo: #212B31;
    --marrom-sépia: #36251A;
    --marrom-amadeirado: #2f1f16d8;
    --marrom-claro: #2f1b0c;
    --verde-musgo: #3D3D1B;
    --verde-oliva-médio: #3D4F18;
    --verde-floresta: #334A18;
    --verde-folha: #2E4615;
    --verde-bosque: #284112;
    --white: #fff;
    --verde-floresta-vivo: #1F4E18;     /* Versão mais viva de verde escuro */
    --verde-grama: #2A6E1A;            /* Verde oliva mais saturado */
    --verde-limão: #3FA82B;            /* Verde claro e vibrante */
    --marrom-avermelhado: #5A3C28;     /* Marrom terroso mais quente */
    --marrom-canela: #7A5235;          /* Tom de marrom mais claro e saturado */
    --marrom-dourado: #B07D3D;         /* Marrom dourado */
    --verde-primavera: #62b536cd;        /* Verde médio mais vívido */
    --verde-pinho: #3A8C3A;            /* Verde pinho escuro, mais saturado */
    --verde-musgo-vivo: #3D6818;       /* Verde musgo em versão mais viva */
    --marrom-terracota: #8C4B2E;       /* Marrom claro e quente */
    --verde-cacto: #548A34;            /* Verde com leve toque de cacto */
    --marrom-âmbar: #A65E3B;           /* Marrom ambarado */
    --marrom-barro: #B26A3D;           /* Marrom com tom de barro mais claro */
    --verde-selva: #5B9233;            /* Verde selva vibrante */
    --verde-louro: #468C31;            /* Verde intermediário vivo */
    --verde-limão-suave: #63A844;      /* Verde mais claro e fresco */
    --marrom-chocolate: #704A26;       /* Tom rico de chocolate */
    --marrom-trigo: #996633;           /* Marrom mais amar  elado */
    --marrom-mel: #B07D3D;             /* Marrom amarelado e suave */
    --verde-tropical: #329932;         /* Verde bem vibrante */
    --cinza-medium:#343a40;
    --marrom-claro: #a06f41a6;
    --verde-primavera-suave: rgba(98, 181, 54, 0.2);    /* Verde vívido mais translúcido */
    --verde-grama-suave: rgba(42, 110, 26, 0.3);        /* Verde grama mais suave */
    --verde-limão-suave: rgba(63, 168, 44, 0.25);       /* Verde claro e vibrante */
    --verde-tropical-suave: rgba(50, 153, 50, 0.3);     /* Verde tropical com leveza */
    --verde-louro-suave: rgba(70, 140, 49, 0.2);        /* Verde louro bem suave */
    --marrom-âmbar-translucido: rgba(112, 60, 34, 0.848);    /* Marrom âmbar mais suave */
    --marrom-terracota-suave: rgba(140, 75, 46, 0.5);      /* Terracota claro e quente */
    --marrom-avermelhado-suave: rgba(90, 60, 40, 0.5);     /* Marrom quente e suave */
    --marrom-canela-translucido: rgba(122, 82, 53, 0.45);  /* Tom de canela mais suave */
    --marrom-dourado-suave: rgba(176, 125, 61, 0.35); 
    --marrom-creme: #D8C3A5;         /* Marrom claro e cremoso */
    --marrom-amêndoa: #7f6c58;       /* Marrom suave, como amêndoa */
    --marrom-avelã: #B19981;         /* Tom quente e discreto */
    --marrom-rosa: #C9A295;          /* Marrom pastel com toque rosado */
    --marrom-bege: #DEC3B4;          /* Bege amarronzado suave */
    --madeira-clara: #A47E5C;        /* Tom de madeira clara e quente */
    --carvalho-natural: #8E6B4C;     /* Marrom suave como carvalho */
    --mogno-claro: #7A5A4F;          /* Madeira em tom médio, mais sofisticado */
    --madeira-escura: #5E4632;       /* Madeira escura, com toque profundo */
    --nogueira-suave: #7F5D48;       /* Nogueira com leve suavidade */
    --marrom-cacau: #4E342E;         /* Marrom profundo, como cacau */
    --marrom-ebano: #3B2F2F;         /* Tom muito escuro e sofisticado */
    --marrom-chocolate-amargo: #3D2B1F; /* Marrom intenso, quase preto */
    --marrom-mogno: #4A2E1E;         /* Tom de mogno escuro e elegante */
    --marrom-mogno-claro: #6c4427f1; 
    --marrom-café: #32221C; 
    --verde-musgo: #365116;         /* Marrom escuro como grãos de café */
    

        
    /* Tamanhos de fonte */
    --font-size-s: 0.9rem; /* Fonte pequena */
    --font-size-n: 1rem; /* Fonte normal */
    --font-size-m: 1.12rem; /* Fonte média */
    --font-size-l: 1.5rem; /* Fonte grande */
    --font-size-xl: 2rem; /* Fonte extra grande */
    --font-size-xxl: 2.3rem; /* Fonte extra extra grande */

    /* Espessuras da fonte */
    --font-weight-normal: 400; /* Peso normal */
    --font-weight-medium: 500; /* Peso médio */
    --font-weight-semibold: 600; /* Peso semi-negrito */
    --font-weight-bold: 700; /* Peso negrito */

    /* Raio da borda */
    --border-radius-s: 8px; /* Raio pequeno */
    --border-radius-m: 30px; /* Raio médio */
    --border-radius-circle: 50%; /* Bordas circulares */

    /* Largura máxima do site */
    --site-max-width: 1300px; /* Largura máxima do conteúdo */
}
body{
    background: var(--verde-musgo);
}

::selection{
    color:var(--white);
    background: var(--verde-profundo);
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: var(--verde-oliva-médio);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--white);
    cursor: pointer;
}

.info_box{
    width: 540px;
    background:var(--white);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: var(--azul-acinzentado-escuro);
    font-weight: var(--font-weight-bold);
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid var(--marrom-claro);
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--azul-acinzentado-escuro);
    transition: all 0.3s ease;
}


.quiz_box{
    width: 550px;
    background:var(--white);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background:var(--white);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color:var(--azul-acinzentado-escuro);
    background: var(--white);
    border: 1px solid var(--azul-acinzentado-escuro);
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color:var(--white);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background:var(--cinza-medium);
    border: 1px solid var(--cinza-medium);
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: var(--marrom-claro);
}

section{
    padding: 25px 30px 20px 30px;
    background:var(--white);
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    color: var(--white);
    background-color:var(--marrom-mogno-claro);
    border: 1px solid var(--marrom-mogno-claro);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color:var(--white);
    background: var(--marrom-mogno);
    border: 1px solid var(--marrom-mogno);
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color:var(--white);
    border-radius: 5px;
    background-color: var(--marrom-queimado);
    border: 1px solid var(--marrom-queimado);
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background:var(--marrom-amadeirado);
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background:var(--white);
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: var(--marrom-queimado);
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--marrom-queimado);
    transition: all 0.3s ease;
}

.buttons button.restart{
    width: 110px;   
    color:var(--white);
    background: var(--marrom-amadeirado);
}

.buttons button.restart:hover{
    background: var(--marrom-sépia);
    border-color: var(--marrom-amadeirado);
}

.buttons button.quit{
    width: 110px;
    color: var(--marrom-queimado);
    background:var(--white);
}

.buttons button.quit:hover{
    color:var(--white);
    background: var(--marrom-amadeirado);
}