*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    /* Cores utilizadas n   o código */
    --white-color: #ffffff;        /* Usado para fundos e bordas */
    --gray-color: #cccccc;         /* Usado em fundo e borda de elementos */
    --dark-gray-color: #333;       /* Usado em texto */
    --dark-green: #017143;         /* Usado em botões e destaque */
    --timeline-line: #0b7b5d;      /* Usado na linha da timeline */
    --bg-yellow: #F6D155;          /* Usado no fundo da timeline */
    --black-color: #000000;        /* Usado em texto */
    --verde-escuro: #0c5738e2;
    
    /* Tamanhos de fonte */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Espessuras da fonte */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Raio da borda */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Largura máxima do site */
    --site-max-width: 1300px;
}


.timeline {
    position: relative;
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 15px 0;
    overflow: hidden;
    min-height: 800px; /* Ajuste a altura conforme necessário */
  }  

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--timeline-line);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
.timeline .title {
  width: 100%;
  height: 200px;
  margin: 0px;
  font-size: var(--font-size-xxl);
  align-content: center;
  text-align: center;
  background-color: var(--white-color);
  position: relative; /* ou use absolute se quiser que ela se posicione de acordo com o elemento pai */
  z-index: 100; /* Um valor alto para garantir que fique acima dos outros elementos */
  border-radius: 50px;
  color: var(--dark-green);
}

.timeline .title h1 {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-weight-bold);
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--white-color);
  border: 2px solid var(--dark-green);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--dark-green);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-green);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -170px;
}

.container.right .date {
  left: -155px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--verde-escuro);
  border: 2px solid var(--dark-green);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--dark-green);
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: var(--dark-green);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  margin-right: 15px;
  font-size: 18px;
  font-weight: normal;
  color: var(--white-color);
  font-weight: var(--font-weight-semibold);
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
}

/* Adicionado clear para evitar sobreposição da timeline no conteúdo seguinte */
.footer-section {
  clear: both;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent var(--dark-green) transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
